.btn {
  padding: 10px 30px;
  text-decoration: none;
  font-size: 18px;
  box-shadow: 3px 3px 3px #ccc;
}

.btn-blue {
  background: var(--accent-color-darkblue);
  color: var(--text-color-white);
}

.btn-blue:hover {
  background: var(--accent-color-lightblue);
  color: var(--text-color-white);
}
