.btn {
  /* Default button styles removed */
  all: unset;
  padding: 15px 30px;
  font-size: 18px;
  cursor: pointer;
  box-shadow: 3px 3px 3px #ccc;
}

.btn-blue {
  background: var(--accent-color-darkblue);
  color: var(--text-color-white);
}

.btn-blue:hover {
  background: var(--accent-color-lightblue);
  color: var(--text-color-white);
}
